<div id="header" class="row align-items-center justify-content-center" style="background-color: #003788; margin: 0; margin-bottom: 0; padding: 10px;"> <!-- Ajout de la couleur de fond #003788 et du padding -->
    <div class="row col-6 col-sm-12 align-items-center p-sm-1"> <!-- Réduction du padding ici -->
        <div class="col-12 col-sm-3 col-lg-2">
            <figure class="rounded-circle bg-white shadow-sm m-1"> <!-- Réduction du margin ici -->
                <img class="img-fluid" src="{{ asset('/img/gb-logo.png') }}" alt="Logo de Group Bank"></a>
            </figure>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center col-12 col-sm-9 col-lg-10 color-gold" style="margin-left: -60px;"> <!-- Utilisation de flexbox pour centrer verticalement -->
            <h1 class="text-center text-white font-weight-bold mb-0">Group Unibank</h1> <!-- Ajout de la classe text-center pour centrer le titre -->
            <p class="text-center text-white mb-0" style="font-size: 1rem;">La banque qui vous fait banquer.</p> <!-- Réduction de la taille de la police -->
        </div>
          
    </div>        
    
</div>
<hr class="m-0" style="background-color: #001e4c; height: 1px;"> <!-- Ligne foncée pour séparer le header du reste du contenu et réduction de la hauteur -->








