/*~~~~~ VARIABLES ~~~~~*/
:root{
    --dark: #424242;
    --gold: #d9b466;
}

/*~~~~~ HEADING TEXTS ~~~~~*/
h1, h2, h3, h4, h6 {
    font-family: 'Poiret One', cursive;
}
body, p, span, a, li, figcaption, label, input {
    font-family: 'Nanum Gothic', sans-serif;
    word-wrap: break-word;
}

.form-select, body, .color-sombre{
    color: var(--dark);
}

.color-gold{
    color: var(--gold);
}

/*~~~~~ LINKS ~~~~~*/
.nav-link, .dropdown-item{
    color: var(--gold) !important;
}
.nav-link.active{
    color: var(--gold);
    font-weight: bold;
}
.dropdown-item:hover{
    background-color: transparent;
}

a:hover{
    color: #fff !important;
}

/*~~~~~ BUTTONS STYLE ~~~~~*/
.btn-gold{
    color: #fff;
    background-color: var(--gold);
    border-color: var(--gold);
}

.btn-gold:hover {
    color: #fff;
    background-color: #daac49;
    border-color: #daac49;
}

/*~~~~~ BACKGROUNDS BORDERS ~~~~~*/
.bg-header,.bg-nav{
    background: #1c1f23;
}

.bg-sombre{
    background: var(--dark);
}

.border-gold{
    border-bottom: 2px solid var(--gold);
}

.borderGold{
    border-left: 2px solid var(--gold) !important;
    border-right: 2px solid var(--gold) !important;
}

.borderGrey{
    border-bottom: 2px solid var(--dark) !important;
}

/*~~~~~ INDEX STYLE ~~~~~*/
#securityPannel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ff6347;
    z-index: 99999;
}

/*~~~~~ ACCOUNT LIST STYLE ~~~~~*/
.card {
    background-color: #fff;
    border: 1px solid var(--gold);
    padding: 0;
}

.card-body {
    background-color: var(--dark);
    border-bottom: 1px solid var(--gold);
}

.card-body h5{
    color: var(--gold);
    font-size: 1.25rem;
    text-transform: uppercase;
}

.card-text{
    color: #fff;
}

.blockquote {
    color: var(--dark);
    font-size: 1rem;
}

/*~~~~~ FORMS STYLE ~~~~~*/

.form-check-input:checked {
    background-color: var(--gold);
    border-color: var(--gold);
}

.form-check-input:focus, .form-select:focus, .form-control:focus {
    border-color: var(--gold);
    outline: 0;
    box-shadow: 0 0 0 .25rem #d9b46640;
}

.form-select {
    border: 1px solid var(--gold);
}

.input-group-text {
    color: #fff;
    background-color: var(--gold);
    border: 1px solid var(--gold);
}

.valid-feedback {
    color: var(--gold);
    text-align: right;
    font-weight: bold;
}

/*~~~~~ STATISTICS STYLE ~~~~~*/

.table-sombre {
    --bs-table-bg: var(--dark);
    --bs-table-striped-bg: #323232;
    --bs-table-striped-color: var(--gold);
    --bs-table-active-bg: #696969;
    --bs-table-active-color: var(--gold);
    --bs-table-hover-bg: #141414;
    --bs-table-hover-color: var(--gold);
    color: var(--gold);
}

/*~~~~~ FOOTER STYLE ~~~~~*/
footer .list-group-item, footer .nav-link{
    border: none;
    text-align: center;
    padding: 0;
}
#main {
    background-color: white;
}

/*~~~~~ TOUCHPADS VIEWPORT ~~~~~*/
@media screen and (min-width: 576px ) {
    .bg-nav{
        background: var(--dark);
    }
}

/*~~~~~ DESKTOP VIEWPORT ~~~~~*/
@media screen and (min-width: 1400px ) {
    .bg-header{
        background: url(/img/group-bank-front.jpg);
        background-attachment: fixed;
        background-size: contain;
    }
}
